# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# -----------------------------------
# 1. DEPENDENCIAS Y CARPETAS GENERADAS
# -----------------------------------

# Node Modules (para Frontend y Backend futuros)
node_modules/
mobile/node_modules/
backend/node_modules/ 
# Backend se implementará luego

# Expo, Build y TypeScript
.expo/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts 

# Carpetas Nativas Generadas por Expo (Estas deben ser ignoradas)
# NOTA: Los desarrolladores suelen ignorar /ios y /android a menos que 
# estén trabajando con código nativo puro.
mobile/ios/
mobile/android/

# -----------------------------------
# 2. ARCHIVOS DE DEPURACIÓN Y SEGURIDAD
# -----------------------------------

# Debug, Logs y Locks
# debug
npm-debug.*
yarn-debug.*
yarn-error.*

*.log

# Metro
.metro-health-check*
# typescript
*.tsbuildinfo


# Native
# Seguridad/Llaves
*.jks
*.p8
*.p12
*.key
*.mobileprovision
# macOS
*.pem

.kotlin/


# macOS
.DS_Store
# Native
*.orig.*

# local env files
.env
.env*.local


# Carpeta de ejemplo (la elimine)
app-example

